/* aplicar a toda la pag */
*{
    box-sizing: border-box;
}
/* cambiar el tamaño de titulos y parrafos */
h1 {font-size: 3.5em; }
h2 {font-size: 2.7em; }
h3 {font-size: 2em; }
p {font-size: 1.5em; }
ul {list-style: none;}
li {font-size: 1.5em;}
/* Margen y tipo de letra */
body {
    font-family: 'roboto' sans-serif;
    margin: 0;
}
/* ancho maximo y margen del container */
.container {
    max-width: 1400px;
    margin: auto;
    background-color: #fbefef;
}
.color-acento {color: #01a9db}
/* cambio del fondo del encabezado  */
header {
    background-color: rgb(245,245,245);
}
/* cambio del fondo del encabezado  */
header .logo {
    margin: 0;
    padding: 25px, 30px;
    font-weight: bold;
    color: #01a9db;
    font-size: 1.7em;
}
/* centrar horizontal y se ordenen en columna */
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* margen y centrado del nav*/
header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
/* estilo de texto color nav*/
header a {
    padding: 5px, 12px;
    text-decoration: none;
    font-weight: bold;
    color: #0b243b;
}
header a:hover {
    color: #01a9db;
}
/* */
#inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )
  ,url(imgs/Paper.jpg);
  background: repeat:no-repeat;
  background-size:cover;
  background-position: center center;
}

#soy-yo .container {
    text-align: center;
    padding: 150px 12px;
}

#LatestNews {
    color: white;
    text-align: center;
}


#LatestNews .container {
    padding: 100px 0px;  
    background-color: rgba(30,30,30);
  }
  #LatestNews p {
      display: none;
  }
  