/* aplicar a toda la pag */
*{
    box-sizing: border-box;
}
/* cambiar el tamaño de titulos y parrafos */
h1 {font-size: 3.5em; }
h2 {font-size: 2.7em; }
h3 {font-size: 2em; }
p {font-size: 1.5em; }
ul {list-style: none;}
li {font-size: 1.5em;}
/* Margen y tipo de letra */
body {
    font-family: 'roboto' sans-serif;
    margin: 0;
}
/* ancho maximo y margen del container */
.container {
    max-width: 1400px;
    margin: auto;
}
